h2
{
  margin-top: 2em;
}

.image
{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.captioned_image
{
  margin-top: 10px;
  margin-bottom: 30px;
  text-align: center;
}

.column2
{
  float: left;
  width: 50%;
}

.column3
{
  float: left;
  width: 33%;
}

/* Clear floats after the columns */
.row:after
{
  content: "";
  display: table;
  clear: both;
}

.spacer
{
  margin-top: 100px;
}

.info-block
{
    --bg-color: #ddd;
    --border: #ccc 2px solid;
    --overlap: 0.8em;
    --padding: 1em;
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: 20px;
    margin-top: calc(var(--overlap) + var(--padding));
    margin-bottom: var(--padding);
}
.info-box
{
    padding: 2px 6px 4px 6px;
    margin-top: calc(0em - var(--overlap));
}
.box-title
{
    background: white none repeat scroll 0 0;
    background-color: var(--bg-color);
    border: var(--border);
    border-radius: 20px;
    display: inline-block;
    padding: 0 10px;
    margin-left: 10px;
}
